* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100svh;
  height: 100vh;
  display: grid;
  place-content: center;
  background: #696969;
}

p {
  margin: 0;
}

.wrapper {
  position: relative;
  width: 400px;
  height: min-content;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  transition: 0.6s ease-out;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 20px;
}

.search-bar input::placeholder {
  font-size: 20px;
  text-transform: none;
}

.search-button {
  cursor: pointer;
  width: 50px;
  aspect-ratio: 1;
  background: none;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search-button:hover {
  background: #ddd;
}

.search-bar i {
  font-size: 22px;
}

.weather {
  text-align: center;
  margin-bottom: 2rem;
}

.temperature {
  font-size: 3rem;
  font-weight: 700;
}

.description {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.details {
  display: flex;
  justify-content: space-between;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.humidity > div,
.wind > div {
  margin-left: 16px;
}

.details-metric {
  font-size: 22px;
}

.details-icon {
  font-size: 22px;
}
